version: "3.8"

services:
  #PostgreSQL Database for Orders
  postgres-orders:
    image: postgres:15.3-alpine
    container_name: stackfood-orders-db
    environment:
      POSTGRES_DB: stackfood_orders
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5435:5432"
    volumes:
      - orders-postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - stackfood-network

  # Orders API
  orders-api:
    build:
      context: ./stackfood-api-orders
      dockerfile: Dockerfile
    container_name: stackfood-orders-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8081
      - ConnectionStrings__DefaultConnection=Host=postgres-orders;Port=5432;Database=stackfood_orders;Username=postgres;Password=postgres
      - ExternalServices__ProductsApiUrl=http://products-api:8080
      - AWS__UseLocalStack=false
      - AWS__Region=
      - AWS__SQS__PaymentEventsQueueUrl=
      - AWS__SQS__ProductionEventsQueueUrl=
      - AWS__SNS__OrderCreatedTopicArn=
      - AWS__SNS__OrderCancelledTopicArn=
      - AWS__SNS__OrderCompletedTopicArn=
      - AWS_ACCESS_KEY_ID=
      - AWS_SECRET_ACCESS_KEY=
    ports:
      - "8081:8081"
    depends_on:
      products-api:
        condition: service_started
    networks:
      - stackfood-network
    restart: unless-stopped

volumes:
  orders-postgres-data:

networks:
  stackfood-network:
    driver: bridge
